


<div class="container py-5">
  <!-- Members Count -->
  <div class="text-center mb-4">
    <h2 class="text-primary">{{ memberService.paginationResult()?.pagination?.totalItems }} members</h2>
  </div>

  <!-- Filters Section -->
  <form #form="ngForm" class="d-flex flex-column flex-md-row gap-3 justify-content-between align-items-center mb-4"
  (ngSubmit)="loadMembers()">
    <div class="filter-group">
      <label for="minAge">Age from:</label>
      <input type="number" id="minAge" class="form-control" name="minAge" [(ngModel)]="memberService.userParams().minAge">
    </div>
    <div class="filter-group">
      <label for="maxAge">Age to:</label>
      <input type="number" id="maxAge" class="form-control" name="maxAge" [(ngModel)]="memberService.userParams().maxAge">
    </div>
    <div class="filter-group">
      <label for="gender">Show:</label>
      <select id="gender" class="form-select" name="gender" [(ngModel)]="memberService.userParams().gender">
        @for (gender of genderList; track gender.value) {
          <option [value]="gender.value">{{ gender.display }}</option>
        }
      </select>
    </div>
      <button class="btn btn-primary" type="submit">Apply Filters</button>
      <button class="btn btn-secondary ms-2" (click)="resetFilters()">Reset Filters</button>

  </form>

  <!-- Sorting Options -->
  <div class="d-flex justify-content-end mb-4">
    <button class="btn btn-outline-primary me-2"
            [class.active]="memberService.userParams().orderBy === 'lastActive'"
            (click)="memberService.userParams().orderBy = 'lastActive'; loadMembers()">
      Last Active
    </button>
    <button class="btn btn-outline-primary"
            [class.active]="memberService.userParams().orderBy === 'created'"
            (click)="memberService.userParams().orderBy = 'created'; loadMembers()">
      Newest Members
    </button>
  </div>

  <!-- Members Grid -->
  <div class="row g-4">
    @for (member of memberService.paginationResult()?.items; track member.id) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
  <app-member-card [member]="member"></app-member-card>
    </div>
    }
  </div>

  <!-- Pagination -->
  @if(memberService.paginationResult()?.pagination) {
    <div class="d-flex justify-content-center mt-4">
      <pagination 
        [boundaryLinks]="true" 
        [totalItems]="memberService.paginationResult()?.pagination!.totalItems"
        [itemsPerPage]="memberService.paginationResult()?.pagination!.itemsPerPage"
        [(ngModel)]="memberService.paginationResult()?.pagination!.currentPage"
        (pageChanged)="onPageChanged($event)"
        [maxSize]="5"
        previousText="&lsaquo;" 
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
        class="custom-pagination pagination-sm"
      >
      </pagination>
    </div>
  }
</div>