<div class="row g-4">
  <div class="text-center mt-3">
<h2>{{memberService.paginationResult()?.pagination?.totalItems}} members</h2>
  </div>
  <div class="container mt-3">
<form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
<div class="d-flex mx-2">
<label class="col-form-label ">Age from:</label>
<input type="number" class="form-control ms-1" name="minAge" [(ngModel)]="memberService.userParams().minAge">
</div>
<div class="d-flex mx-2">
<label class="col-form-label mx-2">Age to:</label>
<input type="number" class="form-control mx-2" name="maxAge" [(ngModel)]="memberService.userParams().maxAge">
</div>

<div class="d-flex mx-2">
  <label class="col-form-label ">Show:</label>
  <select name="gender" [(ngModel)]="memberService.userParams().gender"
   style="width:130px;" class="form-select ms-1">
   @for (gender of genderList; track gender.value) {
    <option [value]="gender.value">{{gender.display}}</option>
   }
  </select>

</div>
<button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
<button class="btn btn-info ms-1" (click)="resetFilters()" type="submit">Reset Filters</button>
<div class="col"> 

  <div class="btn-group float-end">
<button
type="button"

class="btn btn-primary"
name="orderBy"
[(ngModel)]="memberService.userParams().orderBy"
btnRadio="lastActive"
(click)="loadMembers()"
>Last Active</button>
<button
type="button"
class="btn btn-primary"
name="orderBy"
[(ngModel)]="memberService.userParams().orderBy"
btnRadio="created"
(click)="loadMembers()"
>Newest Members
</button>
  </div>
</div>
</form>
  </div>
  @for ( member of memberService.paginationResult()?.items; track member.id) {
    <div class="col-12 col-sm-6 col-md-4 col-lg-3 d-flex justify-content-center">
  <app-member-card [member]="member"></app-member-card>
    </div>


  }
</div>
@if(memberService.paginationResult()?.pagination) {
  <div class="d-flex justify-content-center">
 <pagination [boundaryLinks]="true" 
  [totalItems]="memberService.paginationResult()?.pagination!.totalItems"
  [itemsPerPage]="memberService.paginationResult()?.pagination!.itemsPerPage"
  [(ngModel)]="memberService.paginationResult()?.pagination!.currentPage"
  (pageChanged)="onPageChanged($event)"
  [maxSize]="10"
            previousText="&lsaquo;" 
            nextText="&rsaquo;"
             firstText="&laquo;"
              lastText="&raquo;" 
              class="custom-pagination pagination-sm"
              >
 
</pagination>
  </div>
 
}
