<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<!-- 
<ngx-spinner type="line-scale-party">
 <h3>Loading...</h3>
</ngx-spinner>
<app-nav></app-nav>
<div class="push-from-navbar">
  <router-outlet></router-outlet>
</div> -->
<ngx-spinner type="line-scale-party">
  <h3>Loading...</h3>
</ngx-spinner>

<!-- ✅ navbar يظهر فقط حسب الشرط -->
<app-nav *ngIf="shouldShowNav()"></app-nav>

<div class="push-from-navbar">
  <router-outlet></router-outlet>
</div>





<!-- <app-home></app-home> -->





