.reset-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
}

.reset-card {
  width: 100%;
  max-width: 400px;
  background: rgba(206, 7, 7, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(226, 13, 13, 0.2);
}
